@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    font-family: 'Poppins';
}

.container {
    background-image: url(../imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

.container h1 {
    color: aliceblue;
    font-weight: 400;
    font-size: 2.2rem;
}


.form {
    width: 400px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff30;
    border-radius: 13px;
}

.form-container{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    gap: 35px;
}

.form h2 {
    padding: 0;
    color: #FFFFFF;
    padding-top: 10px;
    font-weight: 400;
    font-size: 1.1rem;
}

.form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

form input {
    width: 100%;
    height: 30px;
    padding: 20px;
    border-radius: 13px;
    border: 0.2px solid #FFFFFF50;
    background-color: #ffffff30;
    color: #FFFFFF;
    transition: border-color 0.3s ease;
}

form input:focus {
    box-shadow: 0 0 3px #eeff00, 0 0 7px #eeff0050;
    outline: none;
    background-color: #ffffff20;
    transition: all 0.3s ease;
}

form input::placeholder {
    color: #FFFFFF90;
}

form #bottonEntrar {
    width: 150px;
    height: 40px;
    background-color: #E2FF32;
    color: #000000;
    font-size: 0.9rem;
    font-weight: 400;
    border-radius: 13px;
    border: 0px !important;
}