@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    font-family: 'Poppins';
}

.container {
    background-image: url(../../imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


/*-------------MENU LATERAL---------------*/

.contenedor-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav {
    background-color: #FFFFFF20;
    width: 250px;
    height: 450px;
    border-radius: 15px;
    padding: 5px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.titulo h1 {
    font-size: 2rem;
    font-weight: 400;
}

.nav .usuario {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
    border-radius: 15px;
    background-color: #ffffff50;
    width: 200px;
}

.usuario h3{
    font-size: 1rem;
    font-weight: 400;
}

.usuario img{
    object-fit: cover;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 0;
}

/* opciones del navBar*/

.navbar {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.menu {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border: 0px;
    cursor: pointer;
    gap: 10px;
    background-color: #ffffff00;
    color: #ffffff;
    transition: all 0.3s;
}

.positionButton{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    width: 130px;
}

.imgNav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}

.h2Nav{
    display: flex;
    justify-content: center;
    align-items: center;

}

.menu h2 {
    font-size: 0.9rem;
    font-weight: 300 !important;
    color: #fafafa75;
}

.menu:hover {
    background-color: #ffffff19;
    border-radius: 15px;
}

.active {
    background-color: #ffffff40;
    border-radius: 15px;
    color: #fafafa !important;
}

.active:hover {
    background-color: #ffffff30;
}

.active h2{
    color: #fafafa !important;
}


/*Update version*/

.update {
    width: 250px;
    height: 150px;
    background-color: #FFFFFF20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    gap: 10px;
    padding: 5px;
}

.update h4 {
    font-size: 1.1rem;
    color: #FFFFFF;
}

.update p {
    font-size: 0.8rem;
    color: #C1C1C1;
    font-weight: 300;
}

.botones-update #update {
    padding: 10px 20px;
    font-size: 0.9rem;
    border-radius: 20px;
    border: 0;
    background-color: #E2FF32;
    font-weight: 500;
}

.botones-update #more {
    padding: 10px 20px;
    font-size: 0.9rem;
    border-radius: 20px;
    border: 0;
    background-color: #D9D9D9;
    font-weight: 500;
}

/*LogOut*/

.log-out {
    width: 250px;
    height: 50px;
    background-color: #FFFFFF20;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #C2C2C2;
    border-radius: 15px;
    border: 0;
    transition: all 0.3s;
}

.iconLogout{
    width: 20px;
}

.log-out h2 {
    font-size: 1rem;
    font-weight: 400;
}

.log-out:hover {
    background-color: #FFFFFF40;
}


/*Fin de menu lateral*/





/*CONTENIDO*/

.contenido {
    width: 960px;
    height: 690px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}

.div-arriba-derecha {
    display: flex;
    gap: 20px;
}

.div-arriba-derecha .students {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 340px;
    height: 140px;
    background-color: #E2FF32;
    border-radius: 15px;
    gap: 10px;
    font-size: 1.2rem;
}

.div-arriba-derecha .importar-estudiantes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 140px;
    background-color: #FFFFFF20;
    border-radius: 15px;
    border: 0px;
    transition: all 0.3s;
}

.importar-estudiantes h2{
    font-size: 1.3rem;
    font-weight: 400;
    color: #FFFFFF;
}

.importar-estudiantes:hover{
    background-color: #FFFFFF40;
}

.tabla {
    display: flex;
    height: 100%;
    background-color: #FFFFFF20;
    border-radius: 15px;
    padding: 20px;
    overflow-y: auto;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;

}

#listaAlumnos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.tablaMostrarStudents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    color: #FFFFFF;
    font-size: 1rem;
}

#tableee{
    height: 200px;
}

#listaAlumnos thead {
    background-color: #FCFCFC10;
}

#listaAlumnos th {
    padding: 10px;
    text-align: left;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* Filas de la tabla */
#listaAlumnos tbody tr {
    transition: background-color 0.3s;
}

#listaAlumnos tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#listaAlumnos td {
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    text-align: left;
}

#listaAlumnos input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

.botones-alumnos {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.botones-alumnos button {
    width: 250px;
    height: 80px;
    border-radius: 15px;
    border: 0;
    font-size: 1rem;
    font-weight: 600;
}

.botones-alumnos #eliminarAlumnos {
    background-color: #A600FF;
    color: #FFFFFF;
}

.botones-alumnos #crearAlumnos {
    background-color: #E2FF32;
}

.botones-alumnos #modificarA {
    background-color: #FFFFFF20;
    color: #FFFFFF;
}

#crearAlumno {
    flex-direction: column;
}

#crearAlumno input{
    padding: 7px 10px;
    width: 400px;
    margin: 10px;
    border-radius: 20px;
    border: 0;
}

#crearAlumno label {
    font-size: 0.9rem;
    margin: 10px;
    color: #FFFFFF;
}

#crearAlumno h2 {
    font-size: 1.4rem;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 20px;
}

#crearAlumno .column {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.botones-crearA {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 20px;
}

.botones-crearA button {
    padding: 10px 50px;
    border-radius: 15px;
    border: 0;
    font-weight: 500;
    font-size: 0.9rem;
}

.botones-crearA #insert {
    background-color: #E2FF32;
}

.botones-crearA #back {
    background-color: #FFFFFF20;
    color: #FFFFFF;
}

.column select {
    padding: 7px 10px;
    width: 400px;
    margin: 10px;
    border-radius: 20px;
    border: 0;
}
