@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    font-family: 'Poppins';
}

.container {
    background-image: url(../../imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


/*-------------MENU LATERAL---------------*/

.contenedor-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav {
    background-color: #FFFFFF20;
    width: 250px;
    height: 450px;
    border-radius: 15px;
    padding: 5px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.titulo h1 {
    font-size: 2rem;
    font-weight: 400;
}

.nav .usuario {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
    border-radius: 15px;
    background-color: #ffffff50;
    width: 200px;
}

.usuario h3{
    font-size: 1rem;
    font-weight: 400;
}

.usuario img{
    object-fit: cover;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 0;
}

/* opciones del navBar*/

.navbar {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.menu {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border: 0px;
    cursor: pointer;
    gap: 10px;
    background-color: #ffffff00;
    color: #ffffff;
    transition: all 0.3s;
}

.positionButton{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    width: 130px;
}

.imgNav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}

.h2Nav{
    display: flex;
    justify-content: center;
    align-items: center;

}

.menu h2 {
    font-size: 0.9rem;
    font-weight: 300 !important;
    color: #fafafa75;
}

.menu:hover {
    background-color: #ffffff19;
    border-radius: 15px;
}

.active {
    background-color: #ffffff40;
    border-radius: 15px;
    color: #fafafa !important;
}

.active:hover {
    background-color: #ffffff30;
}

.active h2{
    color: #fafafa !important;
}


/*Update version*/

.update {
    width: 250px;
    height: 150px;
    background-color: #FFFFFF20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    gap: 10px;
    padding: 5px;
}

.update h4 {
    font-size: 1.1rem;
    color: #FFFFFF;
}

.update p {
    font-size: 0.8rem;
    color: #C1C1C1;
    font-weight: 300;
}

.botones-update #update {
    padding: 10px 20px;
    font-size: 0.9rem;
    border-radius: 20px;
    border: 0;
    background-color: #E2FF32;
    font-weight: 500;
}

.botones-update #more {
    padding: 10px 20px;
    font-size: 0.9rem;
    border-radius: 20px;
    border: 0;
    background-color: #D9D9D9;
    font-weight: 500;
}

/*LogOut*/

.log-out {
    width: 250px;
    height: 50px;
    background-color: #FFFFFF20;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #C2C2C2;
    border-radius: 15px;
    border: 0;
    transition: all 0.3s;
}

.iconLogout{
    width: 20px;
}

.log-out h2 {
    font-size: 1rem;
    font-weight: 400;
}

.log-out:hover {
    background-color: #FFFFFF40;
}


/*Fin de menu lateral*/





/*CONTENIDO*/

.contenido {
    width: 960px;
    height: 690px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}


/*-------DIV amarillo Curso-------------*/


#infoApp{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #E2FF32;
    align-items: flex-start;
    padding: 10px 10px 10px 15px !important;
    border-radius: 15px;
}

#infoApp h2{
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#infoApp h2 svg{
    width: 20px;
    height: 20px;
}

#infoApp button{
    display: flex;
    gap: 5px;
    background-color: #fafafa00;
    border: 0px;
    cursor: pointer;
}
#infoApp button a{
    border: 1px solid #000;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
}

#infoApp button svg{
    width: 15px;

}

.div-arriba-derecha {
    display: flex;
    gap: 20px;
}

.div-arriba-derecha .students {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 340px;
    height: 140px;
    background-color: #E2FF32;
    border-radius: 15px;
    gap: 10px;
    font-size: 1.2rem;
}

.div-arriba-derecha .importar-estudiantes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 640px;
    height: 140px;
    background-color: #FFFFFF20;
    border-radius: 15px;
    border: 0px;
    transition: all 0.3s;
}

.importar-estudiantes h2{
    font-size: 1.3rem;
    font-weight: 400;
    color: #FFFFFF;
}

.importar-estudiantes:hover{
    background-color: #FFFFFF40;
}

.tabla {
    display: flex;
    height: 100%;
    background-color: #FFFFFF20;
    border-radius: 15px;
    padding: 20px;
    overflow-y: auto;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;

}

#listaAlumnos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.tablaMostrarStudents{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    color: #FFFFFF;
}

#tableee{
    color: #fafafa;
    width: 100%;
    overflow: auto;
    border-collapse: collapse;
}

#listaAlumnos thead {
    padding: 1rem;
    background-color: #fafafa20;
}

#listaAlumnos th {
    position: sticky; /* Fijar el encabezado */
    top: 0; 
    z-index: 1;
    padding: 0.7rem;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    background-color: #fafafa20;
    backdrop-filter: blur(10px); 
}

#borderLeft{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#borderRight{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 0;
}

#listaAlumnos tbody{
    color: #fafafa;
}

/* Filas de la tabla */
#listaAlumnos tbody tr {
    height: 50px;
    background-color: #fafafa00;
    transition: all 0.4s ease;
}

#listaAlumnos tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#listaAlumnos td {
    padding: 0 0 0 0;
    text-align: center;
    font-size: 0.9rem;
}

#listaAlumnos tbody tr:nth-child(odd) {
    background-color: #ffffff00; /* Fondo para las filas impares */
}

#listaAlumnos tbody tr:nth-child(even) {
    background-color: #ffffff08; /* Fondo para las filas pares */
}

#listaAlumnos tbody tr:hover {
    background-color: #fafafa20;
}

#listaAlumnos input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

.botones-alumnos {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.botones-alumnos button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 0;
    font-size: 0.9rem;
    font-weight: 400;
}

.botones-alumnos #eliminarAlumnos {
    background-color: #A600FF;
    color: #FFFFFF;
}

.botones-alumnos #crearAlumnos {
    background-color: #E2FF32;
}

.botones-alumnos #modificarA {
    background-color: #FFFFFF20;
    color: #FFFFFF;
}

#crearAlumno {
    flex-direction: column;
}

#crearAlumno input{
    padding: 7px 10px;
    width: 400px;
    margin: 10px;
    border-radius: 20px;
    border: 0;
}

#crearAlumno label {
    font-size: 0.9rem;
    margin: 10px;
    color: #FFFFFF;
}

#crearAlumno h2 {
    font-size: 1.4rem;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 20px;
}

#crearAlumno .column {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.botones-crearA {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 20px;
}

.botones-crearA button {
    padding: 10px 50px;
    border-radius: 15px;
    border: 0;
    font-weight: 500;
    font-size: 0.9rem;
}

.botones-crearA #insert {
    background-color: #E2FF32;
}

.botones-crearA #back {
    background-color: #FFFFFF20;
    color: #FFFFFF;
}

.column select {
    padding: 7px 10px;
    width: 400px;
    margin: 10px;
    border-radius: 20px;
    border: 0;
}

/*---POP UP */

#show_popup {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 0;
    border-radius: 15px;
    font-size: 1rem;
    color: #fafafa;
}

#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #00000090;
    backdrop-filter: blur(10px);
    z-index: 999;
    justify-content: center;
    align-items: center;
}

.popup-content {
    position: relative;
    width: 400px;
    height: 200px;
    padding: 20px;
    background-color: #ffffff40;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.popup-content form{
    width: 100%;
    display: flex;
    justify-content: right;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
}

.close-btn{
    width: 30px;
    height: 30px;
    background-color: #A600FF;
    border: 0;
    border-radius: 30px;
}

.buttonsPopup{
    width: 100%;
    display: flex;
    gap: 10px;
}

.buttonsPopup input{
    display: none;
}

.buttonsPopup label{
    display: flex;
    width: 200px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: #fafafa70;
    border-radius: 10px;
}

.buttonsPopup button{
    display: flex;
    width: 200px;
    height: 40px;
    background-color: #E2FF32;
    border: 0;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 1rem;
}

/* General styling for the form */
.formAlumnos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Form heading */
.formAlumnos h2 {
    text-align: left;
    font-size: 1.2rem;
    font-weight: 400;
    color: #fafafa;
}

/* Form columns */
.formAlumnos .column {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.column-se{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin-right: 40px;
}

.formAlumnos label {
    font-weight: 400;
    color: #fafafa;
}

.formAlumnos input,
.formAlumnos input,
.formAlumnos select {
    padding: 0.5rem 1rem;
    width: 400px;
    border-radius: 5px;
    border: 0.5px solid #fafafa;
    background-color: #fafafa30;
    color: #fafafa;
    margin: 0;
}

/* Buttons */
.formAlumnos .botones-crearA button {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 200px;
}

#BModificarAlumno {
    background-color: #E2FF32 !important;
    color: #000 !important;
    padding: 0.5rem 0rem !important;
    width: 120px !important;
    border-radius: 13px !important;
    border: 0 !important;
    font-weight: 400 !important;
    font-size: 0.8rem !important;
    height: auto !important;
}

#back {
    background-color: #FFFFFF20 !important;
    color: #FFFFFF !important;
    padding: 0.5rem 0rem !important;
    width: 120px !important;
    border-radius: 13px !important;
    border: 0 !important;
    font-weight: 400 !important;
    font-size: 0.8rem !important;
    height: auto !important;
}

/* CONTROL DE ERRORES */

/* Estilos para el overlay (fondo oscuro) */
.error-pop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b3; /* Fondo oscuro con transparencia */
    display: none; /* Oculto por defecto */
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.error-pop.show {
    display: flex;
}

/* Estilos para el pop-up (cuadro de mensaje) */
.error-container {
    background-color: #fafafa30;
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    max-width: 300px;
    height: 150px;
    width: 100%;
    color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 10px #00000033;
}

/* Estilo para el botón de cerrar */
.popup-close {
    background-color: #E2FF32;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.popup-close:hover {
    background-color: #E2FF32;
}