@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    font-family: 'Poppins';
    background-image: url(../../imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.container {
    height: 700px;
    width: 1250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/*MENU LATERAL*/

.contenedor-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav {
    background-color: #FFFFFF20;
    width: 250px;
    height: 450px;
    border-radius: 15px;
    padding: 5px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.titulo h1 {
    font-size: 2rem;
    font-weight: 400;
}

.nav .usuario {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
    border-radius: 15px;
    background-color: #ffffff50;
    width: 200px;
}

.usuario h3 {
    font-size: 1rem;
    font-weight: 400;
}

/* opciones del navBar*/

.navbar {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.menu {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border: 0px;
    cursor: pointer;
    gap: 10px;
    background-color: #ffffff00;
    color: #ffffff;
    transition: all 0.3s;
}

.positionButton {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    width: 130px;
}

.imgNav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}

.h2Nav {
    display: flex;
    justify-content: center;
    align-items: center;

}

.menu h2 {
    font-size: 0.9rem;
    font-weight: 300 !important;
    color: #fafafa75;
}

.menu:hover {
    background-color: #ffffff19;
    border-radius: 15px;
}

.active {
    background-color: #ffffff40;
    border-radius: 15px;
    color: #fafafa !important;
}

.active:hover {
    background-color: #ffffff30;
}

.active h2 {
    color: #fafafa !important;
}


/*Update version*/

.update {
    width: 250px;
    height: 150px;
    background-color: #FFFFFF20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    gap: 10px;
    padding: 5px;
}

.update h4 {
    font-size: 1.1rem;
    color: #FFFFFF;
}

.update p {
    font-size: 0.8rem;
    color: #C1C1C1;
    font-weight: 300;
}

.botones-update #update {
    padding: 10px 20px;
    font-size: 0.9rem;
    border-radius: 20px;
    border: 0;
    background-color: #E2FF32;
    font-weight: 500;
}

.botones-update #more {
    padding: 10px 20px;
    font-size: 0.9rem;
    border-radius: 20px;
    border: 0;
    background-color: #D9D9D9;
    font-weight: 500;
}

/*LogOut*/

.log-out {
    width: 250px;
    height: 50px;
    background-color: #FFFFFF20;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #C2C2C2;
    border-radius: 15px;
    border: 0;
    transition: all 0.3s;
}

.iconLogout {
    width: 20px;
}

.log-out h2 {
    font-size: 1rem;
    font-weight: 400;
}

.log-out:hover {
    background-color: #FFFFFF40;
}

/* FINAL NAVBAR */

/* CONTENIDO */

.contenido {
    width: 960px;
    height: 690px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    background-color: #fafafa20;
    border-radius: 15px;
}

#arriba {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 160px;
}

#infoApp {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #E2FF32;
    align-items: flex-start;
    padding: 10px 10px 10px 15px !important;

}

#infoApp h2 {
    font-size: 1.2rem;
    font-weight: 500;
}

#infoApp button {
    display: flex;
    gap: 5px;
    background-color: #fafafa00;
    border: 0px;
}

#infoApp button a {
    border: 1px solid #000;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
}

#infoApp button svg {
    width: 15px;

}

/*  INFORMAR DEL CURSO  */

#infoCurso {
    width: 640px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.tituloCurso {
    width: 100%;
    border-radius: 15px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa20;
}

.tituloCurso h1 {
    font-size: 1.1rem;
    color: #ffffff;
    font-weight: 500;
}

#estadisticasCurso {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    height: 70px;
}


.cardInfo {
    text-align: center;
    padding: 10px;
    font-size: 1.3rem;
    color: #ffffff;
    height: 70px;
    width: 200px;
    border-radius: 15px;
    background-color: #fafafa20;
}

.cardInfo h3 {
    font-size: 0.9rem;
    color: #fafafa60;
    font-weight: 400;
    text-align: left;
}

.numProjects {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.numProjects svg {
    width: 20px;
}

.numProjects img {
    width: 20px;
    height: 22px;
}

.numProjects p {
    font-size: 1rem;
}

.redondaStado {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: #2bff00;
}

/* CONTENIDO ABAJO DERECHA */

.proyectos {
    display: grid;
    gap: 20px;
    padding: 1rem;
    overflow: auto;
    height: 510px;
}

.cardProyecto {
    padding: 20px;
    border: 0;
    border-radius: 15px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cardProyecto:nth-child(odd) {
    background-color: #8500CD;
    /* Fondo para las filas impares */
    color: #ffffff;
}

.cardProyecto:nth-child(even) {
    background-color: #E2FF32;
    /* Fondo para las filas pares */
    color: #000;
}

.cardProyecto p {
    font-size: 16px;
}

.cardProyecto p span{
    font-size: 17px;
    font-weight: 700;
}

/* CONTENIDO DENTRO DE UN PROYECTO */

#listaActividades {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}

#mostrarActivities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    color: #FFFFFF;
    font-size: 1rem;
}

#tablaActividades {
    height: 200px;
    padding: 20px;
}

#tablaActividades thead {
    background-color: #FCFCFC10;
}

#tablaActividades th{
    padding: 10px;
    text-align: left;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 10px;
}

#tablaActividades tbody tr{
    transition: background-color 0.3s;
}

#tablaActividades tbody tr:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

#tablaActividades td{
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    text-align: left;
}

.evaluado {
    color: #8b8b8b;
}