@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    font-family: 'Poppins';
    background-image: url(../../imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.container {
    height: 690px;
    width: 1250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/*MENU LATERAL*/

.contenedor-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav {
    background-color: #FFFFFF20;
    width: 250px;
    height: 450px;
    border-radius: 15px;
    padding: 5px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.titulo h1 {
    font-size: 2rem;
    font-weight: 400;
}

.nav .usuario {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
    border-radius: 15px;
    background-color: #ffffff50;
    width: 200px;
}

.usuario h3{
    font-size: 1rem;
    font-weight: 400;
}

.usuario img{
    object-fit: cover;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    border: 0;
}

/* opciones del navBar*/

.navbar {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.menu {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border: 0px;
    cursor: pointer;
    gap: 10px;
    background-color: #ffffff00;
    color: #ffffff;
    transition: all 0.3s;
}

.positionButton{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    width: 130px;
}

.imgNav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}

.h2Nav{
    display: flex;
    justify-content: center;
    align-items: center;

}

.menu h2 {
    font-size: 0.9rem;
    font-weight: 300 !important;
    color: #fafafa75;
}

.menu:hover {
    background-color: #ffffff19;
    border-radius: 15px;
}

.active {
    background-color: #ffffff40;
    border-radius: 15px;
    color: #fafafa !important;
}

.active:hover {
    background-color: #ffffff30;
}

.active h2{
    color: #fafafa !important;
}


/*Update version*/

.update {
    width: 250px;
    height: 150px;
    background-color: #FFFFFF20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    gap: 10px;
    padding: 5px;
}

.update h4 {
    font-size: 1.1rem;
    color: #FFFFFF;
}

.update p {
    font-size: 0.8rem;
    color: #C1C1C1;
    font-weight: 300;
}

.botones-update #update {
    padding: 10px 20px;
    font-size: 0.9rem;
    border-radius: 20px;
    border: 0;
    background-color: #E2FF32;
    font-weight: 500;
}

.botones-update #more {
    padding: 10px 20px;
    font-size: 0.9rem;
    border-radius: 20px;
    border: 0;
    background-color: #D9D9D9;
    font-weight: 500;
}

/*LogOut*/

.log-out {
    width: 250px;
    height: 50px;
    background-color: #FFFFFF20;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #C2C2C2;
    border-radius: 15px;
    border: 0;
    transition: all 0.3s;
}

.iconLogout{
    width: 20px;
}

.log-out h2 {
    font-size: 1rem;
    font-weight: 400;
}

.log-out:hover {
    background-color: #FFFFFF40;
}


/*Fin de menu lateral*/


/*CONTENIDO*/


.contenido {
    width: 960px !important;
    height: 690px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card{
    background-color: #fafafa20;
    border-radius: 15px;
}

#arriba{
    width: 960px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 160px;
}

/*Tarjeta amarilla*/


#infoApp{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #E2FF32;
    align-items: flex-start;
    padding: 10px 10px 10px 15px !important;
    
}

#infoApp h2{
    font-size: 1.2rem;
    font-weight: 500;
}

#infoApp button{
    display: flex;
    gap: 5px;
    background-color: #fafafa00;
    border: 0px;
}
#infoApp button a{
    border: 1px solid #000;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
}

#infoApp button svg{
    width: 15px;

}


/*---------DIV de descripcion-------------*/
#description{
    width: 640px;
    display: flex;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

#description h1{
    font-size: 1.2rem;
    font-weight: 500;
}

#description h4{
    width: 100%;
    text-align: left;
    font-size: 0.9rem;
    font-weight: 400;
    color: #fafafa70;
}

#text p{
    font-size: 0.9rem;
    font-weight: 400;
}



#abajo{
    width: 960px;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}


/*---------DIV de descripcion-------------*/

#verTabla{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    overflow: auto;
    border: 0px;
}

#tabla{
    width: 100%;
    max-height: 380px !important;
    border: 0px;
    overflow-y: auto; /* Habilitar scroll vertical */

}

#tabla table{
    color: #fafafa;
    width: 100%;
    height: 400px !important;
    overflow: auto;
    border-collapse: collapse;
}

#tabla thead {
    background-color: #fafafa20;
}

#tabla thead th {
    position: sticky; /* Fijar el encabezado */
    top: 0; 
    z-index: 1;
    padding: 12px;
    font-size: 16px;
    text-align: left;
    color: #ffffff;
    background-color: #fafafa20;
    backdrop-filter: blur(10px); 

}

#borderLeft{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#borderRight{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#tabla tbody{
    color: #fafafa;
   /*height: 200px;
    overflow: hidden;
    */
}

#tabla tbody tr {
    height: 40px;
    background-color: #fafafa00;
    transition: all 0.4s ease;
}

#tabla tbody tr:nth-child(odd) {
    background-color: #ffffff00; /* Fondo para las filas impares */
}

#tabla tbody tr:nth-child(even) {
    background-color: #ffffff08; /* Fondo para las filas pares */
}

#tabla tbody td button {
    color: #fafafa;
}

#tabla tbody tr:hover {
    background-color: #fafafa20;
}

#tabla tbody td {
    padding: 12px;
    font-size: 14px;
    color: #ffffff;
}

#tabla button {
    background-color: #fafafa00;
    border: 0px;
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

/*---------Insertar Actividad-------------*/


#insertarActividad {
    display: none;
}

#formInsert{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}


#formInsert input{
    padding: 7px 10px;
    width: 400px;
    margin: 10px;
    border-radius: 20px;
    border: 0;
}

#formInsert label {
    font-size: 0.9rem;
    margin: 10px;
    color: #FFFFFF;
}

#formInsert h2 {
    font-size: 1.4rem;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 20px;
}

#formInsert .column {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.column select {
    padding: 7px 10px;
    width: 400px;
    margin: 10px;
    border-radius: 20px;
    border: 0;
}

#buttonsInsert {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 20px;
    width: 300px;
}

#buttonsInsert button {
    padding: 10px 50px;
    border-radius: 15px;
    border: 0;
    font-weight: 500;
    font-size: 0.9rem;
}

#buttonsInsert #add {
    background-color: #E2FF32;
}

#buttonsInsert #cancel {
    background-color: #FFFFFF20;
    color: #FFFFFF;
}


/*---------DIV de botones-------------*/


#buttonsTabla{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


#buttonsTabla button{
    padding: 0.5rem 0rem;
    border-radius: 10px;
    border: 0px;
    width: 300px;
    height: 50px;
    font-size: 0.9rem;
    font-weight: 500;
    background-color: #E2FF32;
    color: #000;
}