@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    font-family: 'Poppins';
    background-image: url(../../imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.container {
    height: 690px;
    width: 1250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/*MENU LATERAL*/

.contenedor-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav {
    background-color: #FFFFFF20;
    width: 250px;
    height: 450px;
    border-radius: 15px;
    padding: 5px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.titulo h1 {
    font-size: 2rem;
    font-weight: 400;
}

.nav .usuario {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
    border-radius: 15px;
    background-color: #ffffff50;
    width: 200px;
}

.usuario h3{
    font-size: 1rem;
    font-weight: 400;
}

.usuario img{
    object-fit: cover;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 0;
}

/* opciones del navBar*/

.navbar {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.menu {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border: 0px;
    cursor: pointer;
    gap: 10px;
    background-color: #ffffff00;
    color: #ffffff;
    transition: all 0.3s;
}

.positionButton{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    width: 130px;
}

.imgNav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}

.h2Nav{
    display: flex;
    justify-content: center;
    align-items: center;

}

.menu h2 {
    font-size: 0.9rem;
    font-weight: 300 !important;
    color: #fafafa75;
}

.menu:hover {
    background-color: #ffffff19;
    border-radius: 15px;
}

.active {
    background-color: #ffffff40;
    border-radius: 15px;
    color: #fafafa !important;
}

.active:hover {
    background-color: #ffffff30;
}

.active h2{
    color: #fafafa !important;
}


/*Update version*/

.update {
    width: 250px;
    height: 150px;
    background-color: #FFFFFF20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    gap: 10px;
    padding: 5px;
}

.update h4 {
    font-size: 1.1rem;
    color: #FFFFFF;
}

.update p {
    font-size: 0.8rem;
    color: #C1C1C1;
    font-weight: 300;
}

.botones-update #update {
    padding: 10px 20px;
    font-size: 0.9rem;
    border-radius: 20px;
    border: 0;
    background-color: #E2FF32;
    font-weight: 500;
}

.botones-update #more {
    padding: 10px 20px;
    font-size: 0.9rem;
    border-radius: 20px;
    border: 0;
    background-color: #D9D9D9;
    font-weight: 500;
}

/*LogOut*/

.log-out {
    width: 250px;
    height: 50px;
    background-color: #FFFFFF20;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #C2C2C2;
    border-radius: 15px;
    border: 0;
    transition: all 0.3s;
}

.iconLogout{
    width: 20px;
}

.log-out h2 {
    font-size: 1rem;
    font-weight: 400;
}

.log-out:hover {
    background-color: #FFFFFF40;
}


/*Fin de menu lateral*/


/*CONTENIDO*/


.contenido {
    width: 960px !important;
    height: 690px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card{
    background-color: #fafafa20;
    border-radius: 15px;
}

#arriba{
    width: 960px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 160px;
}

/*Tarjeta amarilla*/


#infoApp{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #E2FF32;
    align-items: flex-start;
    padding: 10px 10px 10px 15px !important;
    
}

#infoApp h2{
    font-size: 1.2rem;
    font-weight: 500;
}

#infoApp button{
    display: flex;
    gap: 5px;
    background-color: #fafafa00;
    border: 0px;
    cursor: pointer;
}
#infoApp button a{
    border: 1px solid #000;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
}

#infoApp button svg{
    width: 15px;

}


/*---------DIV de descripcion-------------*/
#description{
    width: 530px;
    display: flex;
    color: white;
    padding: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}



/*---------parte de arriba de la descripcion incluido el button-------------*/


.description-action{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.description-action h4{
    width: 100%;
    text-align: left;
    font-size: 0.8rem;
    font-weight: 400;
    color: #fafafa80;
}

.editProject{
    background-color: #fafafa00;
    border: 0;
}

.editProject svg{
    width: 18px;
    height: 18px;
    color: #fafafa80;
    transition: all 0.4s ease;
}

.editProject svg:hover{
    color: #fafafa;
}

/*--------- Informaciond de la actividad -------------*/

.descriptionInfo{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
    padding: 0.7rem 0rem;
}

.descriptionInfo h1{
    font-size: 1.2rem;
    font-weight: 500;
}

.descriptionInfo p{
    font-size: 0.8rem;
    font-weight: 400;
    color: #fafafa90;
}

.descriptionInfo p span{
    color: #fafafa !important;
}


/*---------DIV de estado-------------*/


#estadoActividad{
    width: 90px;
    display: flex;
    justify-content: flex-start;
    padding: 0.7rem;
    gap: 33px;
    align-items: flex-start;
    flex-direction: column;
}

.statusAct{
    width: 100%;
    border-radius: 15px;
    border: 0px;
    background-color: #E2FF32;
    color: #000;
    padding: 0.7rem 0rem;
    transition: all 0.3s ease;
}

.statusAct:hover{
    background-color: #d8f900;

}


#estadoActividad p{
    font-size: 0.8rem;
    font-weight: 400;
    color: #fafafa80;
}


/*---------DIV de ABAJO-------------*/


#abajo{
    width: 960px;
    height: 510px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}


/*---------DIV de Items-------------*/


#items{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #fafafa;
    height: 200px;
    overflow: hidden;
    padding: 0.7rem;
    gap: 10px;
}

#items .buttonsItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#items .buttonsItems h2{
    font-size: 1.2rem;
    font-weight: 500;
}

#items .buttonsItems button{
    padding: 5px;
    border-radius: 15px;
    border: 0px;
}

#items .addbtn{
    background-color: #E2FF32;
    color: #000;
    width: 300px;
    font-size: 0.9rem;
}

#items .deletebtn{
    background-color: #8500CD;
    color: #fafafa;
}

#items #itemsGroup{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
    height: 230px;
}

#items .cardItem{
    display: flex;
    flex-direction: row;
    background-color: #fafafa20;
    border-radius: 15px;
    padding: 10px;
}

#items .contenidoItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.imgItem{
    padding: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #ffffff90;
}

.imgItem svg{
    color: #000;
}

.tituloItem h2{
    font-size: 1rem;
    font-weight: 400;
}


/*---------DIV de Boton Evaluar-------------*/

#abajo form{
    width: 100%;
}

#evaluarAlumnos{
    width: 100%;
    border: 0px;
    background-color: #8500CD;
    padding: 0.7rem;
    border-radius: 15px;
}

#evaluarAlumnos p{
    color: #fafafa;
    font-size: 0.9rem;
}


/*---------DIV de Tabla-------------*/

#tablaNotas{
    width: 960px;
    height: 220px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
    padding: 1rem;
}


#tablaNotas h2{
    font-size: 1.1rem;
    font-weight: 400;
    color: #fafafa;
}


/*---------DIV de Tabla-------------*/


.tbln{
    width: 100%;
    max-height: 400px !important;
    border: 0px;
    overflow-y: auto
}

table{
    color: #fafafa;
    width: 100%;
    height: 210px;
    overflow: auto;
    border-collapse: collapse;
}

thead{
    background-color: #fafafa20;
}

thead th {
    position: sticky; /* Fijar el encabezado */
    top: 0; 
    z-index: 1;
    padding: 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    background-color: #fafafa20;
    backdrop-filter: blur(10px); 


}

#borderLeft{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#borderRight{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

tbody{
    color: #fafafa;
}

tbody td{
    padding: 0 0 0 0;
    text-align: center;
    font-size: 0.8rem;
}

tbody tr {
    height: 40px;
    background-color: #fafafa00;
    transition: all 0.4s ease;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff00; /* Fondo para las filas impares */
}

tbody tr:nth-child(even) {
    background-color: #ffffff08; /* Fondo para las filas pares */
}

tbody tr:hover {
    background-color: #fafafa20;
}



